<!DOCTYPE html>
<html ng-app="mainApp" lang="en">
	<head>
		
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

		<title>Bower test</title>
		
		<link rel="stylesheet" href="../../bower_components/angular/angular-csp.css" />
		<link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="../../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
		
	</head>

	<body ng-cloak>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						Angular JLG Daterangepicker
					</a>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<form name="form" ng-submit="onSubmit();">
						<div class="form-group">
							<label for="dateId1">Date (input)</label>
							<input id="dateId1" type="text" class="form-control" datepicker ng-model="model.date1" placeholder="Enter a date"
								export="myDatepicker" options="dateOptions" />
						</div>
						<div class="form-group">
							<label for="dateId2">Date (component)</label>
							<div class="input-group date">
								<input id="dateId2" type="text" class="form-control" datepicker ng-model="model.date2" placeholder="Enter a date"
								export="myDatepicker" options="dateOptions"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
							</div>
						</div>
						<div class="form-group">
							<label for="dateId3">Date (inline)</label>
							<div id="dateId3" datepicker inline ng-model="model.date3" placeholder="Enter a date"
								export="myDatepicker" options="dateOptions" ></div>
						</div>
						<div class="form-group">
							<label for="dateId4">Date (range)</label>
							<div id="dateId4" class="input-daterange input-group" id="datepicker" datepicker ng-model="model.range" placeholder="Enter a date"
								export="myDatepicker" options="dateOptions">
								<input type="text" class="input-sm form-control" name="start" ng-model="model.range.start"/>
								<span class="input-group-addon">to</span>
								<input type="text" class="input-sm form-control" name="end" ng-model="model.range.end"/>
							</div>
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
					
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="dateOptions.clearBtn"> Clear Button
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="dateOptions.autoclose"> autoclose
						</label>
					</div>
					<h2>model</h2>
					<pre>{{model | json }}</pre>
					<h2>dateOptions</h2>
					<pre>{{dateOptions | json }}</pre>
				</div>
				
				
		
			</div>
		</div>
	
		
		
		<script src="../../bower_components/jquery/dist/jquery.js"></script>
		<script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="../../bower_components/angular/angular.js"></script>
		<script src="../../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
		
		<script src="../../src/angular-jlg-datepicker.js"></script>
		<script src="app.js"></script>
	
	</body>
</html>
